workspace/org.dafoe.terminologiclevel/termsDictionary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ensTermes" type="ensTermsType">
		<xs:annotation>
			<xs:documentation>Terms dictionary</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ensTermsType">
		<xs:sequence>
			<xs:element name="terme" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
